* {
    box-sizing: border-box;
  }
.post {
    background-color: white;
    padding:10px 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 100%;
}

.post_header {
    display: flex;
    margin-bottom: 5px;
}

.post_info {
    margin-left: 20px;
}

.post_info>p {
    font-size: 12px;
    color: gray;
}
.post_info>h2 {
    font-size: 12px;
}
.post_body{
    overflow-wrap: anywhere;
}
.post_button{
    display: flex;
    justify-content: space-evenly;
}